.vscode/**
air_magic_wand/air_mw_system/httpd/**
air_magic_wand/air_mw_system/cmd/**
air_magic_wand/air_mw_system/customer/**
air_magic_wand/air_mw_system/db/**
air_magic_wand/air_mw_system/driver/**
air_magic_wand/air_mw_system/html/**
air_magic_wand/air_mw_system/init/**
air_magic_wand/air_mw_system/obj/**
air_magic_wand/air_mw_system/os_api/**
air_magic_wand/air_mw_system/poe/**
air_magic_wand/air_mw_system/ref/**
air_magic_wand/air_mw_system/snmp/**
air_magic_wand/air_mw_system/syncd/**
air_magic_wand/air_mw_system/switching/**
air_magic_wand/air_mw_system/sys_mgmt/**
air_magic_wand/air_mw_system/util/**
air_system/**
bootloader/**
freertos/bsp/**
freertos/doc/**
freertos/kernel/**
freertos/project/**
freertos/tool/**
freertos/app/common/**
freertos/app/sfp/**
freertos/app/lwip/ports/**
freertos/app/lwip/lwip-2.1.2/doc/**
freertos/app/lwip/lwip-2.1.2/test/**
freertos/app/lwip/lwip-2.1.2/src/api/**
freertos/app/lwip/lwip-2.1.2/src/core/**
freertos/app/lwip/lwip-2.1.2/src/netif/**

freertos/app/lwip/lwip-2.1.2/src/include/compat/**
freertos/app/lwip/lwip-2.1.2/src/include/netif/**

freertos/app/lwip/lwip-2.1.2/src/apps/altcp_tls/**         
freertos/app/lwip/lwip-2.1.2/src/apps/freertos_http_client/**       
freertos/app/lwip/lwip-2.1.2/src/apps/http/**          
freertos/app/lwip/lwip-2.1.2/src/apps/mbedtls-2.16.9/**       
freertos/app/lwip/lwip-2.1.2/src/apps/mqtt/**            
freertos/app/lwip/lwip-2.1.2/src/apps/ping/**       
freertos/app/lwip/lwip-2.1.2/src/apps/snmp/**       
freertos/app/lwip/lwip-2.1.2/src/apps/tftp/**     
freertos/app/lwip/lwip-2.1.2/src/apps/common_utilities/**       
freertos/app/lwip/lwip-2.1.2/src/apps/freertos_telnetd/**           
freertos/app/lwip/lwip-2.1.2/src/apps/lwiperf/**       
freertos/app/lwip/lwip-2.1.2/src/apps/mdns/**                 
freertos/app/lwip/lwip-2.1.2/src/apps/netbiosns/**       
freertos/app/lwip/lwip-2.1.2/src/apps/smtp/**       
freertos/app/lwip/lwip-2.1.2/src/apps/sntp/** 